/* app/components/CardSolution.module.css*/

.card {
    display: flex;
    width: 100%;
    padding: 72px;
    border-radius: 8px;
    gap: 192px;
    justify-content: space-between;
  }

  

  .details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  
  .card div h3 {
    font-family: PP Neue Montreal;
    font-size: 32px;
    font-weight: 500;
    line-height: 38.4px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 24px;
    
  }
  
  .keywords {
    display: flex;
    gap: 8px;
  }
  
  .keyword {
    color: transparent;
    padding: 8px;
    border-radius: 12px;
    font-size: 12px;
    height: 25px;
    font-family: PP Neue Montreal;
    font-size: 12px;
    font-weight: 500;
    line-height: 12.5px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-transform:uppercase;
  }
  
  .card img {
    width: 492px;
    height: auto;
    margin-top: 16px;
    border-radius: 6px;
  }
  