/* app/components/partenaires.module.css */

.carouselcontainer {
  height: 180px;
}
.carousel {
  width: 100vw;
  height: 180px;
  display: flex;
  align-items: center;
}

.track {
  display: flex;
  gap: calc(100vw / 6 ); 
  animation: scroll 20s linear infinite; 
}

.partnerImage {
  height: 80px; 
  object-fit: contain; 
  flex-shrink: 0; 
}

@keyframes scroll {
  from {
    transform: translateX(0); 
  }
  to {
    transform: translateX(-54%); 
  }
}