/* app/components/partenaires.module.css */

.carouselcontainer {
  width: 0;
  height: 0;
}
.carousel {
  position: relative;
  width: 100vw;
  height: 180px;
  display: flex;
  align-items: center;
}

.track {
  display: flex;
  gap: calc(100vw / 6 ); /* Espacement entre les images */
  animation: scroll 20s linear infinite; /* Animation infinie */
}

.partnerImage {
  height: 80px; /* Hauteur des images */
  object-fit: contain; /* Garde les proportions des images */
  flex-shrink: 0; /* Empêche la réduction des images */
}

@keyframes scroll {
  from {
    transform: translateX(0); /* Position initiale */
  }
  to {
    transform: translateX(-50%); /* Décale toute la ligne vers la gauche */
  }
}